*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background-image: url('s1.webp');
    background-size: cover;
    
} */

body{
    min-height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.form{
    width: 100%;
    min-height: 100vh;
    background-color: #181818;
    clip-path: polygon(100% 0, 100% 40%, 0 68%, 0 0);
    position: relative;
    padding: 8% 20.3%;

}

.form h2{
    color: white;
    font-size: 2.5rem;

}

form{
    position: absolute;
    top: 27%;
    left: 6%;
    margin-left: 150px;
    background-color: white;
    border-radius: 5px;
    height: 450px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 2px 4px 3px 0px rgba(88, 88, 88, 0.425);
    /* -2px -4px 3px 0px rgba(88, 88, 88, 0.425); */
}

form .icon{
    align-self: center;
    font-size: 1.5em;
}

form .submit{
    align-self: center;


}

form .submit button{
    padding: 7px;
    
    color: white;
    background-color: black;
    width: 80px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

form .input{
    margin-left: 15px;
    position: relative;
}

.input input{
    outline: none;
    border: none;
    box-shadow: none;
    padding: 10px 2px 3px 2px;
    border-bottom: 1px solid black;
    width: 280px;
}


.input input:-webkit-autofill,
.input input:-webkit-autofill:hover,
.input input:-webkit-autofill:focus,
.input input:-webkit-autofill:active {
transition: background-color 5000s ease-in-out 0s;
}

.input label{
    position: absolute;
    top:0;
    left: 0;
    color: #808080;
    transition: .5s;
    pointer-events: none;
}

.input input:focus ~ label{
    top: -13px;
    left: 0;
    color: black;
    font-weight: 600;
}

.input input:valid ~ label {
    top: -13px;
    left: 0;
    color: black;
    font-weight: 600;
}

.input input:focus, .input input:valid{
    border-bottom: 2px solid black;
}